h1{
    color:rgb(11,111,201);
    font-size: 30px;
}

h2{
    color:#46484c;
}

button{
    color:#fff;
    background-color: #025157;
}

strong{
    color:#1206b9;
}

body{
    background-color: #aafdf9;
    /*background-image: url('./fondo-ocean.jpg');*/

}

img{
    margin-right: 10px;
}

.image{
    margin: auto;
    width: 30%;
    /*border:  solid green;*/
    padding: 10px;
}

.page_title{
    text-align: center;
}

.btn-form{
    padding-left:100px;
}
