h1{
    color:rgb(11,111,201);
    font-size: 30px;
}

h2{
    color:#46484c;
}

button{
    color:#fff;
    background-color: #025157;
}

strong{
    color:#1206b9;
}

body{
    /*background-color: #99d6d3;*/
    background-color: #fffbf7;
    margin-top: 100px;
    /*background-image: url('./fondo-ocean.jpg');*/

}

img{
    margin-right: 10px;
}

.image{
    margin: auto;
    width: 30%;
    /*border:  solid green;*/
    padding: 10px;
}

.page_title{
    text-align: center;
}

.btn-form{
    padding-left:100px;
}

.header{
    /*
    margin-top:   40px;
    margin-left:  20px;
    margin-right: 20px;*/
    margin: 40px 20px 0 20px; /*De esta forma se ajustan los márgenes en una sola linea*/
    font-size: 0;
    line-height: 45px;    
}

li{
    display: inline;
}

.header > *{ /* Aplica a todos los hijos de header estas propiedades */
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
    height: 45px;
}

.logo{
    width: 15%;
}

li{
    margin-right: 25px;
    margin-left: 25px;
}

.navbar{
    width: 70%;
    color: green;
    text-align: center;    
    color:#025157; 
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    color: #67b54b
}

.actions-button{
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.promo{
    color: #025157;
    padding: 15px;
}

.promo_p{
    color: black;
}

.publish{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img{
    width: 120px;
    margin-top: 10px;
}

.fixed-header{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

.publish-form{
    background-color: whitesmoke;
}

.in-publish{
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn-publish{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.publish-brands{
    width: 1000px;
    display: flex;
    background-color: #96d178;

}

.publish-brands h1{

    color: #025157;
}

.publish-general{
    background-color:#96d178;
}

.users-of-matcha{
    padding: 15px;
    border-radius: 7px;
    border: 0;
}

.publish-text{
    padding: 30px;
}

.publish-text-p{
    color:#4a4a4a;
}

.clients-image{
    width: 400px;
    padding: 0;
}

.publish-banner{
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    align-content: center;
}

.h3-banner{
    color:green;
}

.faded-banner{
    color: gray;
}

.banner-img{
    padding: 0;
    width: 200px;
}

.publish-banner > *{
    padding: 15px;
    align-content: center;
}

.banner-button{
    border-radius: 10px;
    border:0;    
}

.features{
    display: grid;
    /*grid-template-columns: 100px 300px;*/
    /*grid-template-columns:  repeat(2,300pxS); 
    grid-template-columns: 500px 1fr;   divide el espacio equitativamanebte
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 660px;*/
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.feature-art{
    background-color: lightcyan;
    margin: 10px;
    width: 40%;
    height: 50px;
}

.general-grid{
    background-color: #025157;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-row-gap: 50px;
    padding: 50px 50px 50px 50px;  
    
}

.feature-image{
    width: 40%;
    position:relative;
    right: -50px;
    
}

.feature-content{
    padding: 0;
    width: 300px;
}

.feature-image{
    display: flex;
    background-color: white;
    overflow: hidden;
    padding-right: 0;
    border-radius: 10px;
    padding-left: 30px;
    width: 550px;
    
}


.feature-card{
    margin-top: 20px;
    justify-content: first baseline;
}
.feature-img{
    padding-left:50px;  
    overflow: hidden; 
    position: relative; 
    height: 300px;
}

.logo-img{
    padding: 10px;
    size: 5px;
    background-color: white;    
}

.promo-text{
    color: gray;
}

.promo-link{
    color:#67b54b;
    font-weight: 600;
}


/* reto 4 y postwork 4 */